* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-grey-10);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.img-div{
    align-items: center;
    border: 2px solid gray;

}
/*  =========== navbar ============= */
.nav-background{
    background-color: cadetblue;
    min-height: 3rem;
}
.welcome-div{
    
}



/* ============== form ================= */
.form-section{
    
    margin: 1rem;
    background-color: antiquewhite;
   
}
.input-div{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2rem;

}
.filter-input{
    
    margin-left: 0.3rem;
}
.filter-label{
        
        min-width: 4rem;
}
#filter-form{
    padding-top: 0.4rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 0.4rem;
    max-width: 100%;
}
.btn-div{
    margin: 1rem;
}

/* ========== displayed data ============ */

.data-title{
    font-weight: bold;
    padding-left: 0.5rem;
}
#title{
    padding: 0.5rem;
    min-height: 7rem;
}
.main-section{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.item-card{
    margin: 1rem;
    max-width: 18rem;
    }


.itemData{
    margin: 0.2rem;
    background-color: beige;
    border: 0.3px solid gray;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 800px) {
    body{
        background-color: rgb(226, 179, 179);
        font-size: 0.950rem;;
    }
    .main-section{
        flex-direction: row;
        align-items: flex-start;
    }
    .item-card{
    margin: 1rem;
    max-width: 19rem;
    
}
}


/* Analytics page */

.analytics-section{

    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 

}
.analytics-info{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25rem; 

}
.info-block{
    margin: 0.2rem;
    display: flex;
    flex-direction: row; 
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem; 
    box-shadow: 3px 3px 5px darkgray;
}
.info-block:hover{
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
    transform: translateX(0.06rem);
}
.analytics-item-title{
    
    text-align: left;
    text-transform: capitalize;
    /* flex-basis: 1; */
}
.analytics-item-info{
    
    text-align: right;
    /* flex-basis: 0; */
}

.chartDiv{
    margin: 2rem 1rem 1rem 1rem;
    box-shadow: 3px 3px 5px darkgray;
    border: 1px solid gray;
}